/* UNIVERSAL */

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0;
}

/* HEADER */

.header {
    width: 100vw;
    height: 110px;
    background-color: #466995;
    border-bottom: 1px solid #466995;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.question-link {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: #61bff9;
    display: inline-block;
    padding: 0 40px;
}

.question-link:visited {
    color: #ffffff;
}

a {
    text-decoration: underline;
}